@CHARSET "ISO-8859-1";

#back {
	width: 70%;
	margin-left: 15%;
}

#top {
	text-align: center;
	background-color: #e7f5fe;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	padding: 5px;
	
}

#top p {
	font-weight: bold;
	font-size: large;
}


#middle {
	background-color: #C1CDCD;
	color: black;
	font-size: large;
	padding: 20px;
	
}

a:hover { 
    background-color: blue;
    color: black;
}

#bottom {
	padding: 5px;
	background-color: white;
	height: 80%;
}

#space {
	padding-left: 20px;
}


ul
{
    list-style-type: none;
}

#left {
	width: 20%;
	margin-left: 5px;
	position: absolute;
}

#left p {
	font-weight: bold;
	font-size: large;
	background-color: #37FDFC;
	padding: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}


#right {
	width: 25%;
	margin-left: 74%;

}

#right p {
	font-weight: bold;
	font-size: large;
	background-color: #37FDFC;
	padding: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}


.border {
	border: solid #e7f5fe 2px;
	margin-left: 10px;
	padding: 10px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	background-color: #F0FFFF;
}

#centre {
	
	width:80%;
	position: absolute;
	margin-left: 25%;
	
}

#footer {
	background-color: #FAF0E6;
	padding: 10px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}

#footer p {
	text-align: center;
}

