@CHARSET "ISO-8859-1";

body {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-repeat: repeat;
}

p {
	font-family: times new roman;
	color: teal;
	
	
}

h1 {
	font-family: freestyle script;
	font-size: 75px;
	color: green;
}

header h1 {
	text-align: center;
}

nav {
	font-size: x-large;
}


nav ul{
	list-style-type: none;
	text-align: center;
	font-weight: bold;
}

nav ul li {
	display: inline;
	padding-left: 20px;
}

nav a:link { 
    color: #FF0000;
}

nav a:hover { 
    background-color: gray;
}

nav a:visited {
	color: red;
}

nav a:active {
	color: #0000FF;
}

article {
	padding-left: 10px;
	border: dotted red 2px;
}

figure img{
	
	width: 250px; 
	height: 250px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#fig {
	border: double purple 5px;
}

figure {
	text-align: center;
	font-style: italic;
	font-size: large;
	font-weight: bold;
	color: olive;
	
}



section {
	padding-left: 10px;
	border: dashed blue 2px;

}


footer {
	text-align: center;
	font-weight: bold;
}


h2 {
	font-family: lucida handwritting;
	font-style: oblique;
	color: fuchsia;
}