@CHARSET "ISO-8859-1";

body {
		background-color: white;
	
	}
	header {
		color: blue;
		text-align: center;
		margin: auto;
		margin-top:10%;
		border: darkgray solid 2px;;
		padding-bottom: 20px;
		width: 30%;
		padding-top: 20px;
		background-color: lightgray;
		
	}
	section {
						
			margin: auto;
			margin-top: 20px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			
			text-align: center;
	}
	.button {
		background-color: lightblue;
		box-shadow: 1px red;
		color: white;
		margin-top: 30px;
		height: 30px;
		width: 70px;
		font-weight: bold;
		
	}