@CHARSET "ISO-8859-1";


#multipleBack {

	margin:auto;
	border:1px solid red;
	width: 900px;
	height: 600px;
	background-image:url('C:/Users/Richa Mittal/Desktop/flowers/b.jpg'),url('C:/Users/Richa Mittal/Desktop/flowers/b.jpg'),
						url('C:/Users/Richa Mittal/Desktop/flowers/b.jpg'),url('C:/Users/Richa Mittal/Desktop/flowers/3.jpe'),
						url('C:/Users/Richa Mittal/Desktop/flowers/1.jpe'),url('C:/Users/Richa Mittal/Desktop/flowers/4.jpe'),
						url('C:/Users/Richa Mittal/Desktop/flowers/2.jpe'); 
	background-position:center,top,bottom,top right,bottom right,top left,bottom left;
	background-repeat:no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat; 
	background-size:900px 400px,700px 100px,700px 100px, 100px 100px, 100px 100px, 100px 100px, 100px 100px; 
	
	
	background-image:url('C:/Users/Richa Mittal/Desktop/flowers/b.jpg'),url('C:/Users/Richa Mittal/Desktop/flowers/b.jpg'),
						url('C:/Users/Richa Mittal/Desktop/flowers/b.jpg'),url('C:/Users/Richa Mittal/Desktop/flowers/3.jpe'),
						url('C:/Users/Richa Mittal/Desktop/flowers/1.jpe'),url('C:/Users/Richa Mittal/Desktop/flowers/4.jpe'),
						url('C:/Users/Richa Mittal/Desktop/flowers/2.jpe'); 
	background-position:center,top,bottom,top right,bottom right,top left,bottom left;
	background-repeat:no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat; 
	-moz-background-size:900px 400px,700px 100px,700px 100px, 100px 100px, 100px 100px, 100px 100px, 100px 100px; 
}

#leaf1 {
	
	border:1px solid darkgreen;	
	width:140px;
	height:120px;
	border-radius:80% 0 80% 0;
	background:linear-gradient(darkgreen, lightgreen);
	float: left;
	margin-left: 300px;
	
	-moz-border-radius:80% 0 80% 0;
	background:linear-gradient(darkgreen, lightgreen);



}

#leaf2 {
	
	border:1px solid darkgreen;	
	width:140px;
	height:120px;
	border-radius:0 80% 0 80%;
	background:linear-gradient(darkgreen, lightgreen);
	float: left;
	
	-moz-border-radius:0 80% 0 80%;
	background:linear-gradient(darkgreen, lightgreen);

}

#leaf3 {
	border:1px solid darkgreen;	
	width:140px;
	height:120px;
	border-radius:0 80% 0 80% ;
	background:linear-gradient(to left,darkgreen, lightgreen);
	float: left;
	margin-left: 300px;
	margin-top:200px; 
	
	
	-moz-border-radius:0 80% 0 80%;
	background:linear-gradient(darkgreen, lightgreen);

}

#leaf4 {
	border:1px solid darkgreen;	
	width:140px;
	height:120px;
	border-radius:80% 0% 80% 0%;
	background:linear-gradient(to right,darkgreen, lightgreen);
	float: left;
	margin-top:200px;
	
	
	-moz-border-radius:80% 0% 80% 0%;
	background:linear-gradient(to right,darkgreen, lightgreen); 
}


#center {
	display: block;
	margin: auto;
	
}