@CHARSET "ISO-8859-1";

body {
	width:40%;
	margin: auto;
	display: block;
	margin-top:100px;
	
}

header {
	padding:1px;
	padding-left:40px;
	color: white;
	background-color:gray;
}


section
{
	background-color:white;
	border: solid 2px gray;
	border-top: 0px;
}


table 
{
    border-collapse: separate;
    border-spacing: 0 1em;
}


#span 
{
	color: red;
}